$screenSize: 940px;
$smallScreenSize: 640px;
$smallMainSize: 620px;
$large: 940px;

@mixin respond-to($media) {
  @if $media == small-screens {
    @media only screen and (max-width: $large - 1) { @content; }
  }
}

body{
    width: 100%;
    margin:0;
    padding:0;
}
a { 
    text-decoration: none;
    color: rgb(61,118,204);
    &:visited{
        color: rgb(61,118,204);
    }
} 
.hr1{
    display: block;
    background-color: rgb(51,51,51);
    border: 0;
    height: 3px;
    margin:0;
    color:rgb(51,51,51);
    width:inherit;
    margin-bottom: 30px;
}
.header{
    margin: 0;
    background-color: #000;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    &__block{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: $screenSize;
        max-width: $screenSize;
        @include respond-to(small-screens) { 
            width: $smallMainSize; 
            max-width: $smallMainSize; 
        }
    }
    &__link{
        color: #fff;
        font-size: 12px;
        margin-right:20px;
        font-family: 'PT Sans';
    }
    &__button{
        display:inline-block;
        margin-left: 10px;
        &--big{
            padding-top:3px;
            padding-bottom:3px;
            margin-right: 1px;
        }
    }
}
.main{
    margin: 0;
    display: flex;
    justify-content: center;
    &__block{
        width: $screenSize;
        display: block;
        @include respond-to(small-screens) { 
            width: $smallMainSize; 
            max-width: $smallMainSize; 
        }
        &__articleVideos{
            display:flex;
            @include respond-to(small-screens) { 
                display: block;
            }
        }
    }
}
.nav{
    width:inherit;
    display: flex;
    margin-top: 3px;
    margin-bottom: 5px;
    justify-content: space-between;
    &__items{
        display:flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    &__item{
        font-size: 18px;
        color:rgb(51,51,51);
        font-family: 'PT Sans';
        margin-left:15;
        &--first{
            margin-left:10px;
            margin-right: 5px;
        }
    }
    &__button{
        display:flex;
        float: right;
        align-items: center;
        justify-content: center;
    }

}
.bigArticle{
    display:block;
    position:relative;
    width:620px;
    height: 255px;
    background-color: rgb(247,249,250);
    border-bottom:red 5px solid;
    overflow: hidden;
    box-sizing: border-box;
        >img{
            float:left;
            width:380px;
            margin-right:20px;
        }
        &__text{
            margin-top:15px;
            &--heading{
                color:rgb(200,0,0);
                font-size: 30px;
                font-family: "PT Serif";
            }
            &--small{
                margin-top:5px;
                color:rgb(51,51,51);
                font-size: 14px;
                font-family: "PT Sans",sans-serif;
            }
        }
        &__counter{
            position: absolute;
            display:flex;
            right:10px;
            bottom:10px;
            font-family: "PT Sans";
            font-size: 18;
            font-weight: bold;
        }
}
.videos{
    margin-left:20px;
    width:300px;
    @include respond-to(small-screens) { 
        width: $smallMainSize; 
        max-width: $smallMainSize; 
        margin-left:0;
    }
    &__heading{
        position: relative;
        line-height: 18px;
        overflow: hidden;
        white-space: nowrap;
        text-align: center;
        font-family: "PT Sans";
        font-size: 18;
        font-weight: bold;
        color:rgb(106,0,153);
        @include respond-to(small-screens) { 
            text-align: left;
        }
        > span{
            display: inline-block;
            vertical-align: middle;
            @include respond-to(small-screens) { 
                display: block; 
            }
        }
        &:before{
            content: "";
            position: relative;
            display: inline-block;
            width: 100%;
            height: 2px;
            vertical-align: middle;
            background:  rgb(51,51,51);
            margin-left: -100%;
            left: -2px;
            @include respond-to(small-screens) { 
                width:0;
                left:0;
                margin-left: 0;
            }
        }
        &:after{
            content: "";
            position: relative;
            display: inline-block;
            width: 100%;
            height: 2px;
            vertical-align: middle;
            background:  rgb(51,51,51);;
            margin-right: -100%;
            right: -2px;
            @include respond-to(small-screens) { 
                vertical-align: center; 
            }
        }
    }
    &__content{
        @include respond-to(small-screens) { 
            display: flex;
            justify-content: space-between;
        }
    }
    &__item{
        position: relative;
        overflow:hidden;
        margin-top:10px;
        height: 90px;
        @include respond-to(small-screens) { 
            width: 120px; 
            height: 140px; 
        }
        &__img{
            float:left;
            width:140px;
            margin-right:10px;
            @include respond-to(small-screens) { 
                width: 120px; 
                height: auto; 
            }
        }
        &__text{
            color:rgb(51,51,51);
            font-size: 14px;
            font-family: "PT Sans";
            font-weight: bold;
            @include respond-to(small-screens) { 
                margin-top:80px;
                height: 54px;
                overflow: hidden;
            }
        }
        &__icon{
            position: absolute;
            width:24px;
            height: 19px;
            left: 3px;
            bottom: 4px;
            @include respond-to(small-screens) { 
                top: 4px;
            }
        }
    }
    &__more{
        margin-top:20px ;
        font-size: 18px; 
        line-height: 18px;
        font-family: "PT Sans";
        @include respond-to(small-screens) { 
            text-align: right;
            margin-top:5px;
        }
    }
    &__hr{
        background-color: rgb(51,51,51);
        border: 0;
        margin:0;
        height: 5px;
        margin-top:5px;
        color:rgb(51,51,51);
        @include respond-to(small-screens) { 
            margin-bottom: 30px;
            height: 0;
        }
    }
}
.articleAndOMG{
    width:620px;
    display: block;
    @include respond-to(small-screens) { 
            width: $smallMainSize;
        }
}
.omg{
    width:inherit;
    &__heading{
        overflow: hidden;
        color:rgb(51,51,51);
        font-size: 24px;
        line-height: 20px;
        margin-top:30px;
        font-family: "PT Sans";
        &:after{
            content: "";
            position: relative;
            display: inline-block;
            width: 100%;
            height: 2px;
            background:rgb(51,51,51);
            margin-right: -100%;
            right: -2px;
        }
    }
    &__content{
        height: 280px;
        overflow: hidden;
        margin-top: 10px;
        display:flex;
        justify-content: space-between;
        @include respond-to(small-screens) { 
            height: 200px; 
            justify-content: space-around;
        }
    }
    &__item{
        width:140px;
        display:block;
        color:rgb(51,51,51);
        font-size: 14px;
        font-family: "PT Sans";
        >img{
            width:140px;
            border: 1px gray solid;
            margin-bottom: 4px;
        }
        &__text{
            height: 72px;
            max-height: 72px;
            overflow:hidden;
        }
    }
}
.misc{
    display:block;
    &__heading{
        overflow: hidden;
        color:rgb(51,51,51);
        font-size: 24px;
        line-height: 20px;
        font-family: "PT Sans";
        &:after{
            content: "";
            position: relative;
            display: inline-block;
            width: 100%;
            height: 3px;
            background: rgb(51,51,51);
            margin-right: -100%;
            right: -2px;
        }
    }
    &__content{
        position: relative;
        overflow: hidden;
        margin-top: 10px;
        display:flex;
        justify-content:flex-start;
    }
    &__item{
        width:140px;
        display:block;
        margin-left: 20px;
        position: relative;
        &__heading{
            height: 30px;
            display:flex;
            align-items: center;
            vertical-align: middle;
            color:rgb(199,0,0);
            font-size: 14px;
            font-family: "PT Sans";
        }
        &__nadpis{
            margin-top: 4px;
            height: 70px;
            color:rgb(61,118,204);
            font-size: 14px;
            font-family: "PT Sans";
        }
        >img{
            width:140px;
            margin-bottom: 4px;
        }
       
        &--first{
            width:60px;
            margin:0;
            @include respond-to(small-screens) { 
                width:40px;
            }
            >.icon{
                margin-top:30px;
                margin-right:25px ;
                margin-left:15px;
                background-image:url("./images/arrows-big.png");
                width:20px;
                height: 40px;
                @include respond-to(small-screens) { 
                    margin-left:10px;
                }
            }

        }
        &--last{
            opacity:0.5;
        }
        &--smallScreenLast{
            @include respond-to(small-screens) { 
                opacity:0.5;
            }
        }
    }
    &__rightArrow{
        background-position:-20px 0;
        position: absolute;
        right: 20px;
        margin-top:60px;
        background-image:url("./images/arrows-big.png");
        width:20px;
        height: 40px;
    }   
}
.poloska{
    height: 2px;
    color:black; 
    background-color:rgb(51,51,51);
    border:none;
    margin:0;
    padding:0;
}
.footer{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    height: 90px;
    background-color: rgb(247,249,250);
    width:100%;
    border-top: gray 1px solid;
    &__textBlock{
        width: $screenSize;
        display: block;
        @include respond-to(small-screens) { 
            width: $smallMainSize; 
            max-width: $smallMainSize; 
        }
    }
    &__copy{
        margin-top: 25px;
        font-size: 12px;
        font-family: "PT Sans";
    }
    &__links{
        margin-top: 20px;
        font-size: 12px;
        color:rgb(86,122,176);
        font-family: "PT Sans";
    }
}